.table {
	font-size: 12px;
	border-collapse: collapse;
	border-top: 1px solid #7F9DB9;
	border-left: 1px solid #7F9DB9;
}

.table td, .table th {
	height: 22px;
	vertical-align: middle;
	border-bottom: 1px solid #7F9DB9;
	border-right: 1px solid #7F9DB9;
	padding: 2px;
}

.table th {
	background-color: #C3DAF9;
}