<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hust.model.Action">
	<resultMap type="hust.model.Action" id="actionMapper">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<result property="type" column="c_type"/>
		<result property="mid" column="c_menu_id"/>
		<result property="remark" column="c_remark"/>
	</resultMap>
	
	<select id="getActionById" resultMap="actionMapper">
		select * from t_action where c_id=#{id}
	</select>
	
	<select id="list" parameterType="map" resultMap="actionMapper">
		select * from t_action
		<where>
			<if test="action !=null">
				<if test="action.id != null">and c_id=#{action.id}</if>
				<if test="action.mid != null">and c_menu_id=#{action.mid}</if>
				<if test="action.type != null">and c_type=#{action.type}</if>
			</if>
		</where>
	</select>
	
	<insert id="insert" parameterType="hust.model.Action">
		insert into t_action(c_id, c_name, c_menu_id, c_remark) 
		values (#{id}, #{name}, #{mid}, #{remark})
	</insert>
	
	<update id="update" parameterType="hust.model.Action">
		update t_action
		set c_name=#{name}
		<if test="remark != null">, c_remark={remark}</if>
		<if test="type != null">, c_type={type}</if>
		where c_id = #{id}
	</update>
	
	<delete id="delete" parameterType="hust.model.Action">
		delete from t_action
		<where>
			<if test="id !=null">c_id=#{id},</if>
			<if test="name !=null">c_name=#{name},</if>
			<if test="mid !=null">c_menu_id=#{mid},</if>
			<if test="remark !=null">c_remark=#{remark},</if>
		</where>
	</delete>
	
	<delete id="deleteByList">
		delete from t_action
		where c_id in
		<foreach collection="list" open="(" close=")" separator="," item="action">
			#{action.id}
		</foreach>
	</delete>
	
</mapper>