<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="hust.model.Menu">
	<resultMap type="hust.model.Menu" id="menuMapper">
		<id property="id" column="c_id"/>
		<result property="name" column="c_name"/>
		<result property="type" column="c_type"/>
		<result property="pid" column="c_parent_id"/>
		<result property="order" column="c_order"/>
		<result property="remark" column="c_remark"/>
		<association property="action" column="c_action_id" select="hust.model.Action.getActionById" />
	</resultMap>
	
	<select id="list" parameterType="map" resultMap="menuMapper">
		select * from t_menu m
		<where>
			<if test="menu!=null">
				<if test="menu.id != null">and m.c_id=#{menu.id}</if>
				<if test="menu.pid != null">and m.c_parent_id=#{menu.pid}</if>
			</if>
			<if test="roleList != null">
				and exists(select c_id from t_role_menu rm where rm.c_menu_id=m.c_id and rm.c_role_id in
				<foreach collection="roleList" open="(" close=")" separator="," item="role">
					#{role.id}
				</foreach>
				)
			</if>
		</where>
		order by m.c_order
	</select>
	
	<select id="getMaxOrder" parameterType="string" resultType="int">
		select max(c_order) from t_menu;
	</select>
	
	<insert id="insert" parameterType="hust.model.Menu">
		insert into t_menu(c_id, c_name, c_type, c_parent_id, c_order, c_remark, c_action_id)
		values(#{id}, #{name}, #{type}, #{pid}, #{order}, #{remark}, #{action.id})
	</insert>

</mapper>